# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio C++
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj
*.filters
*.sdf
*.sln
*.vcxproj
*.filters
*.user
*.opensdf
*.suo
*.db
*.exe

#sublime
*.sublime-project
*.sublime-workspace

# Directorys to ignore
Debug/
Release/
ipch/
obj/
bin/
external/
ref/

#because i'm using catch
catch.hpp
